* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #f3e8ff;
    color: #2d0f45;
}

.hero {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(135deg, #6a00f4, #b5179e);
    color: white;
}

.hero h1 {
    font-size: 52px;
    font-weight: 800;
    text-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.tagline {
    font-size: 20px;
    margin-top: 10px;
}

.cta-btn {
    margin-top: 25px;
    padding: 14px 30px;
    background: #fff;
    color: #6a00f4;
    font-weight: 600;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s ease;
}

.cta-btn:hover {
    transform: scale(1.05);
}

section {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 25px;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #6a00f4;
}

.skill-grid span {
    padding: 10px 18px;
    background: #b5179e;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.project-card h3 {
    color: #6a00f4;
}

.links a {
    margin: 0 10px;
    color: #b5179e;
    font-weight: 600;
}

footer {
    padding: 15px;
    background: #6a00f4;
    color: white;
}
